# Groq: https://console.groq.com/keys  (free tier available)
GROQ_API_KEY=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

# Tavily: https://tavily.com/  (free tier: 1000 searches / month)
TAVILY_API_KEY=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
